* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    font-size: 18px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;  
    font-family: "Bai Jamjuree", sans-serif;
    font-style: normal;
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
}

.hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero-container img {
    margin-bottom: 60px;
    width: auto !important;
}

.hero-container h1 {
    color: var(--dark-grayish-blue);
    font-size: 1.8rem;
    padding: 0 40px;
    text-align: center;
}

.hero-container p, .content-container p {
    color: var(--grayish-blue);
    margin: 20px 0;
    padding: 0 40px;
    text-align: center;
    line-height: 1.7;
}

.download-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.download-buttons button {
    height: 50px;
    width: 70vw;
    box-shadow: 3px 3px 5px #ddd;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 0.8rem;
}

.download-buttons button:nth-child(1) {
    background-color: var(--strong-cyan);
    border-bottom: 2px solid #177a6c;
}

.download-buttons button:nth-child(2) {
    background-color: var(--light-blue);
    border-bottom: 2px solid #4555cd;
}

.download-buttons button:nth-child(1):hover {
    background-color: #26baa4b0;
}

.download-buttons button:nth-child(2):hover {
    background-color: #6173ffc7;
}

.second img, .third img {
    width: 90%;
}

.content-container {
    width: 90%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container h2, .content-container h3 {
    text-align: center;
    color: var(--dark-grayish-blue);
}

.content-container h2 {
    margin-bottom: 20px;
}

.content-container h3 {
    margin-top: 30px;
}

.cards-container {
    margin-top: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-icon {
    width: 50px;
    height: auto;
    margin: 30px;
} 

.brands-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.client-brands {
    width: 50px;
}

.sixth {
    margin-top: 100px;
}

footer {
    margin-top: 110px;
    width: 100%;
    background-color: #9fabb240;
    display: flex;
    justify-content: center;
}

.footer-container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px; 
}

.logo-footer {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
}

.menu-container ul {
    padding: 0;
    margin-bottom: -10px;
}

.menu-container ul li {
    text-align: center;
    list-style-type: none;
    margin: 15px 0;
}

.menu-container ul li a {
    color: var(--dark-grayish-blue);
    text-decoration: none;
}

.menu-container ul li a:hover {
    color: var(--strong-cyan);
}

.social-icons {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    align-items: flex-end;
    justify-content: center;
}

@media screen and (min-width:768px) {
    .hero-container {
        background: url(../images/bg-header-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        min-height: 100vh;
    }

    .download-buttons {
        flex-direction: row;
        width: 600px;
    }

    .hero-container p {
        max-width: 700px;
    }

    .second p {
        margin-bottom: 50px;
    }

    .second img {
        transform: translateX(-120px);
        width: auto;
    }

    .functionalities {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .functionality {
        width: 30%;
    }

    .functionality h3 {
        text-align: start;
    }

    .functionality p {
        text-align: start;
        padding: 0;
    }

    .third p {
        max-width: 650px;
    }
    
    .third img {
        height: 90vh;
        width: auto;
    }

    .cards-container {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 30%;
    }

    .brands-container {
        flex-direction: row;
        width: 80%;
        justify-content: space-around;
        gap: 30px;
    }

    .client-brands {
        width: 30px;
    }

    .client-brand {
        width: 110px;
    }

    .sixth {
        margin-top: 120px;
    }

    .sixth p {
        max-width: 650px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .logo-footer {
        align-self: center;
    }

    .menu-container ul li {
        text-align: start;
    }

    .social-icons {
        align-self: center;
    }
}


@media screen and (min-width: 1000px) {
    .second {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "title title"
        "paragraph paragraph"
        "image functionalities";
    }

    .second h2 {
        grid-area: title;
    }

    .second p {
        grid-area: paragraph;
        margin-bottom: 50px;
    }

    .second img {
        grid-area: image;
        transform: translateX(-120px);
        width: auto;
    }

    .third img {
        height: 100%;
        width: auto;
    }

    .functionalities {
        grid-area: functionalities;
        display: initial;
        gap: 0;
    }

    .functionality {
        width: auto;
    }

    .brands-container {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    .client-brands {
        gap: 60px;
    }

    .menu-container {
        margin-left: -100px;
    }

    .footer-container {
        max-width: 1000px;
    }

}

@media screen and (min-width: 1400px) {
    .hero-container {
        min-height: 900px;
        height: auto;
    }

    .container {
        max-width: 1300px;
    }

    .footer-container {
        max-width: 1300px;
    }
}